
<div align="center">
    <div class="col-md-8">

      <form role="form">
      <div align="left">

    <p>

      <b>Osoba niezalogowana: </b><br>
      - możliwość przedlądania oferty<br>
      - dostęp do informacji o poszczególnym filmie<br>
      - rejestracja<br>
      - logowanie<br>
      <br>
      <b>Osoba zalogowana: </b><br>
      - dostęp do informacji o filmie<br>
      - możliwość wykupienia subskrypcji<br>
      - dostęp do materiałów video<br><br>


    </p>
  </div>
  </form>
  </div>
</div>



