<div class="bg-img">

  <div align="center">
    <div class="col-md-8">

      <form role="form">


      <p align="center" style="font-family: Cambria; font-size:30px">
        Internetowa wypożyczalnia filmów
      </p>

    <a href="/register" *ngIf="!authService.isLoggedIn()"><p class="dropdown-item color">Aby móc w pełni korzystać z usług serwisu załóż konto, a następnie się zaloguj</p></a>
      </form>
        <p align="center">
      <a routerLink="film">
      <img src="{{'assets/playfilm1.png'}}" width="600px" height="400px">
      </a>

    </p>

  </div>
</div>
  <br><br>
</div>
