
<div align="center" >
        
        <div class="card bg-dark" style="width: 900px">
            <br>
        <div class="lazy-embed" align="center">
            <iframe width="854" height="480" [src]="getEmbedUrl(video)" 
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br>
    </div>
</div>




<!--
<div align="center">
<div class="col-md-9" >
<div class="card bg-dark">
    <br>
<div class="lazy-embed" align="center">
    <iframe width="854" height="480" [src]="getEmbedUrl(video)" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br>
</div>
</div>
</div> -->